<% if user_signed_in? %>
  <h1>Welcome, <%= current_user.email %> </h1>
  <%= link_to "My Blog", posts_path %>
  <br>
  <%= link_to "Chat", chats_path %>
<% else %>
  <h1>Hello, please sign in.</h1>
  <a href="/users/sign_in"> Sign In </a>
<% end %>

